.envelope {

  border: 1px solid #ccc;
  width: 600px;
  min-height: 368px;
  padding: 20px;
  display: flex;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 14px;
  line-height: 18px;

}

.receiver-container {
  text-align: center;
  margin-top:20%;
  margin-left: 20%;

}

.receiver { 
  
  width:100px;
  height:100px;
  display:inline-block;
  
}


.stamp-border {
  margin-left: 30%;
  padding:10px;
  height: 50px;
  width: 50px;
  border: 1px solid #ccc;
  text-align: center;
}

.stamp {
  transform:rotate(-30deg);
  text-align: center;
}



